<% content_for :subtitle do %>Te enviaremos instrucciones para restablecerla<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="d-grid mb-3">
    <%= f.submit "Enviar instrucciones", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
