<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nombre</th>
      <th class="text-end">Monto</th>
      <th>Frecuencia</th>
      <th>Método de Pago</th>
      <th>Estado</th>
      <th class="text-end">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% income_sources.each do |income| %>
      <tr>
        <td><%= income.name %></td>
        <td class="text-end"><%= income.amount.format %></td>
        <td><%= income.formatted_frequency %></td>
        <td><%= income.payment_method.present? ? "#{income.payment_method} - #{income.payment_method_detail}" : "No especificado" %></td>
        <td><%= income.active ? "Activo" : "Inactivo" %></td>
        <td class="text-end text-nowrap">
          <%= link_to edit_income_source_path(income), class: "btn btn-sm btn-outline-primary me-1", title: "Editar" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= button_to income_source_path(income), method: :delete, class: "btn btn-sm btn-outline-danger", title: "Eliminar", form: { class: "d-inline" }, data: { turbo_confirm: "¿Estás seguro?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>