<h1>Mis Categorías</h1>

<%= link_to "Nueva Categoría", new_category_path, class: "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.user_id.nil? ? "Base" : "Personal" %></td>
      <td class="text-nowrap text-end">
        <%= link_to edit_category_path(category), class: "btn btn-sm btn-outline-primary me-1", title: "Editar" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= button_to category_path(category), method: :delete, class: "btn btn-sm btn-outline-danger", title: "Eliminar", form: { class: "d-inline" }, data: { turbo_confirm: "¿Estás seguro?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Volver al Dashboard", dashboard_path, class: "btn btn-secondary" %>